extends layout

block content    
	p #{responseMsg}
	
	#wrapper
	if hasAuth
		p #{hasAuth}
		div(class="container")
			div(class="row")
				div(class='col-md-1')
					form(action='/logout',method='post')
						input(type='submit', value='Logout')
					
				div(class='col-md-1')
					form(action='/service',method='get')
						input(type='submit', value='Ir para Serviço')
		
	else
		div(class='col-md-3')
		div(class='col-md-3')
			div(class='center')
				p Faça login com sua conta
			form(action='/login',method='post')
				div(class='form-group')
					div(class='center')
						label(for='inputEmail') Email
					input(type='text', id="inputEmail", class='form-control', placeholder='email', name='email', maxlength=100)
				div(class='form-group')
					div(class='center')
						label(for='inputPassword') Password
					input(type='password', id="inputPassword" class='form-control', placeholder='password', name='password', maxlength=20)
				div(class='center')
					button(type='submit', class='btn btn-default') Login
		div(class='col-md-3')
			div(class='center')
				p Registre-se para uma conta
				form(action='/register',method='get')
					button(type='submit', class='btn btn-default') Registrar
		